@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --pri: #000;
    --sec: #1c5d99;
    --ter: #fff;
    --qua: #e6e8e6;
    --qui: #ced0ce;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--sec);
    position: relative;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

section {
    margin: 1rem;
}

footer {
    background-color: var(--sec);
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-contato {
    margin: 1rem;
}

.contatos {
    display: flex;
    flex-wrap: wrap;
}

.contatos img {
    width: 2rem;
    height: 2rem;
    filter: invert(100%) sepia(9%) saturate(169%) hue-rotate(48deg) brightness(98%) contrast(85%);
}


/* Hero IMG */

.bg-image {
    background-image: url("../img/programador3.jpg");
    filter: blur(8px);
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* posiciona o texto */
.bg-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--ter);
    font-weight: bold;
    border: 3px solid var(--ter);
    z-index: 2;
    width: 80%;
    padding: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.bg-text p {
    color: var(--ter);
}

nav {
    background-color: var(--sec);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 1rem;
}

nav a {
    text-decoration: none;
}

nav li:hover {
    background-color: var(--qui);
}

.icon-menu {
    display: flex;
    align-items: center;
}

/* Cards */

.container-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
}

.container-cards a {
    display: contents;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 25%;
    background-color: var(--qua);
    margin: 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.container {
    padding: 1rem;
    border-radius: 0 0 5px 5px;
    background-color: var(--qua);
    text-align: center;
}

.card .container b,
p {
    color: var(--pri);
}

.card img {
    border-radius: 5px 5px 0 0;
}

/* Dropdowns */

.container-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo {
    width: 20%;
    margin: 1rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
    filter: invert(100%) sepia(9%) saturate(169%) hue-rotate(48deg) brightness(98%) contrast(85%);
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}